

.menu-item > .content:hover {
    cursor: pointer;
}


.menu-item {
    -webkit-box-shadow: inset 0px 0px 0px 3px rgba(0,0,0,0), 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12) !important;
    -moz-box-shadow: inset 0px 0px 0px 3px rgba(0,0,0,0), 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12) !important;
    box-shadow: inset 0px 0px 0px 3px rgba(0,0,0,0), 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12) !important;

    -webkit-transition: 0.2s ease-out !important;
    -moz-transition: 0.2s ease-out !important;
    -ms-transition: 0.2s ease-out !important;
    -o-transition: 0.2s ease-out !important;
    transition: 0.2s ease-out !important;
}
.item-checked {
    -webkit-box-shadow: inset 0px 0px 24px 3px var(--second-color), 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12) !important;
    -moz-box-shadow: inset 0px 0px 24px 3px var(--second-color), 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12) !important;
    box-shadow: inset 0px 0px 24px 3px var(--second-color), 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12) !important;
    
}